* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    width: 1140px;
    margin: 0 auto;
}

.promo {
    background-image: url(../img/main_bg.jpg);
    background-size: auto 800px;
    background-repeat: no-repeat;
    height: 820px;
    padding: 39px 0 64px 0;
}

.logo-img {
    display: block;
    margin: 0 auto;
}

.logo-text {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    text-transform: uppercase;
    color: #FFFFFF;
    text-align: center;
    margin-top: 14px;
    margin-bottom: 53px;
}

.title {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    font-size: 41px;
    text-transform: uppercase;
    color: #F9BF3B;
    text-align: center;
}

.simple-text {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    font-size: 80px;
    text-transform: uppercase;
    color: #FFFFFF;
    text-align: center;
    margin: 20px 0px 20px 0px;
}

.text span {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 21px;
    color: #F9BF3B;
}

.text {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 21px;
    color: #FFFFFF;
    text-align: center;
    margin-top: 25px;
    line-height: 28px;
}

.btn {
    display: block;
    margin: 72px auto;
    padding: 25px;
    background: linear-gradient(0deg, #2798B9 0%, #3AB6DA 100%);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.4);
    font-family: 'RobotoCondensed';
    font-size: 21px;
    line-height: 24px;
    text-transform: uppercase;
    color: #FFFFFF;
    text-shadow: -1px -1px 0px rgba(0, 0, 0, 0.22);
    outline: none;
    cursor: pointer;

}

.text-down {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 100;
    font-size: 15px;
    text-transform: uppercase;
    color: #FFFFFF;
    text-align: center;
    margin-top: 70px;
    margin-bottom: 5px;
}

.down-img {
    display: block;
    margin: 0 auto;
}

.weiting {
    margin-top: 60px;
    min-height: 600px;
    background: #EFEFEF;
}

.wrapper {
    text-align: center;
}

.wrapper .header {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 30px;
    text-align: center;
    text-transform: uppercase;
    color: #252525;
    padding-top: 80px;
}

.subheader {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 23px;
    line-height: 20px;
    text-align: center;
    color: #4A4A4A;
    margin-bottom: 45px;
}

.information-box {
    text-align: center;
    width: 342px;
}

.wrapper-information-box {
    display: flex;
    justify-content: space-between;
}

.discription {
    margin-top: 25px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    line-height: 21px;
    text-align: center;
    color: #4A4A4A;
}

.wrapper .line {
    width: 220px;
    margin-top: 18px;
    height: 4px;
    background: #F9BF3B;
    margin: 18px auto;
}

.girl {
    min-height: 550px;
    padding: 102px 0 107px 0;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    
    background-image: url(../img/woman_bg.jpg);
    background-repeat: no-repeat;
    background-position-y: 47px;
}

.girl-wrapper {
    margin-left: 400px;
    margin-top: -40px;
}

.girl-header {
    font-weight: 900;
    font-size: 25px;
    line-height: 30px;
    text-transform: uppercase;
    color: #299CBD;
}

.girl-discription {
    font-weight: 300;
    font-size: 17px;
    line-height: 23px;
    color: #4A4A4A;
    margin-top: 30px;
}

/*you-can*************************************/

.you-can {
    background-image: url(../img/second_bg.jpg);
    height: 450px;
}

.you-can-header {
    padding: 86px 0 18px 0;
    text-align: center;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    text-transform: uppercase;
    color: #EFEFEF;
}



.line-you-can-header {
    width: 220px;
    height: 3px;
    background: #F9BF3B;
    margin: 0 auto 39px;
}

.wrap-main {
    display: flex;
    justify-content: space-between;
}

.circl {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    background-color: #B4E2FF;
    width: 115px;
    height: 115px;
    border-radius: 100%;
}

.main-discription {
    width: 180px;
    text-align: center;
    padding-top: 25px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 17px;
    line-height: 20px;
    color: #EFEFEF;
}

/*GIFT SECTION*/

.gift {
    background: #EFEFEF;
    min-height: 640px;
}

.gift-img {
    display: block;
    padding: 85px 0 0 0;
    margin: 0 auto;
}

.gift-text {
    margin: 45px 0 45px 0;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 43px;
    color: #252525;
    text-align: center;
}

/*First Webinar*/

.first-webinar {
    min-height: 520px;
}

.first-webinar-img {
    display: block;
    margin: 0 auto;
    padding-top: 90px;
}

.title-webinar {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 30px;
    text-transform: uppercase;
    color: #252525;
    text-align: center;
    padding-top: 35px;
}

.subtitle-webinar {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    font-size: 36px;
    line-height: 36px;
    text-align: center;
    text-transform: uppercase;
    color: #299CBD;
    padding-top: 30px;
}

.sub-sub-title {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 23px;
    line-height: 20px;
    text-align: center;
    color: #4A4A4A;
    padding-top: 25px;
}

.footer {
    height: 170px;
    background-color: #000000;
}

.wrapper-footer {
    display: flex;
    justify-content: center;
}

.support {
    color: #888888;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    border-right: 2px solid #888888;
    line-height: 21px;
    padding-right: 5px;
    margin-top: 70px;
}

.politica {
    padding-left: 5px;
    margin-top: 70px;
    color: #888888;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    line-height: 21px;
}

.call {
    color: #888888;
    text-align: center;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    line-height: 21px;
}